<head>
	<link rel="stylesheet" href="./stylesheets/AboutDesign.css">
</head>

{{> header}}

<div id="photo">
	<div class="title">
		<h2>Saznajte više o</h2>
		<h1>AvioMuzeju</h1>
	</div>
</div>

<div class="container bck_clr">
	<div class="container">
		<div class="text">
			<h3>
				AvioMuzej je aeronautički muzej koji se nalazi u gradu Zagrebu.
				Muzej je utemeljen 1927. godine, a trenutno predstavlja najveću kolekciju aviona u cijeloj Europi!
			</h3>
			<br>
			<p class="lead">
				Od ove godine vam nudimo i mogućnost uživanja u našem muzeju pomoću
				audio vodiča! Sve što trebate je skenirati svojim pametnim mobilnim uređajem
				QR kod koji stoji uz izložak.
			</p>
		</div>
	</div>

	<div class="container">
		<div class="row text">
			<div class="col-md-6">
				<p>
					Najveći i najstariji vojni avio muzej nalazi se upravo u Hrvatskoj.
					Za razliku od drugih muzeja, ovaj muzej karakterističan je po tome da je složen po
					razdobljima razvijanja aviona te je nemoguće da se izgubite ili nešto propustite.
				</p>
				<p>
					Glavna atrakcija muzeja upravo je Boeing VC-137C.
					Dom je aviona poput Spitfiresa, Lancaster bombardera i Concorda.
					Ovaj muzej čuva i prvi avion na svijetu -"Wright Flyer".
				</p>
			</div>
			<div class="col-md-6">
				<img src="images/about-avion.jpg">
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row text drugi">
			<div class="col-md-6">
				<p>
					Osam milijuna ljudi svake godine u ovom muzeju pogleda preko 60.000 izložaka,
					1.75 milijuna fotografija i 14.000 video materijala.
					Tijekom ljeta ovdje se organiziraju razna avio događanja u kojima mogu uživati
					posjetitelji i gledati akrobacije koje se izvode u zraku.
				</p>
				<p>
					Ako želite dizajnirati vlastiti avion ili pak sjesti u pravi simulator te se okušati kao pilot,
					ovaj je muzej savršeno mjesto za vas.
				</p>

			</div>
			<div class="col-md-6">
				<img src="images/about-avion2.jpg">
			</div>
		</div>
	</div>

</div>

<div class="container button">
	<div class="row text-center button">
		<a role="button" class="btn btn-dark" href="/">
			<i class="fa fa-arrow-circle-left"></i> Povratak na početnu stranicu
		</a>
	</div>
</div>

{{>footer}}