<head>
    <link rel="stylesheet" href="./stylesheets/ControlPanelDesign.css">
    
    <script>
        function readURL(input){
            if(input.files && input.files[0]){
                var reader = new FileReader();
                reader.onload = function(e){
                    $('#image1').attr('src',e.target.result);

                };
            reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    <script>
        function readURLAudio(input){
            if(input.files && input.files[0]){
                var reader = new FileReader();
                reader.onload = function(e){
                    $('#audio1').attr('src',e.target.result);

                };
            reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    <script>
        function openTab(tabName,num) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = ['ChangeExhibits','Statistics'];
            {{#if session_isOwner}}
            tabcontent = ['ChangeExhibits','Statistics','ChangeAdministrators'];
            {{/if}}
            for (i = 0; i < tabcontent.length; i++) {
               document.getElementById(tabcontent[i]).style.display = 'none';
               document.getElementsByClassName('tab')[i].className = document.getElementsByClassName('tab')[i].className.replace(' active','');
               
            }
            document.getElementsByClassName('tab')[num].className  += ' active'; 
            document.getElementById(tabName).style.display = 'block';      
        }
    </script>
    <script>
        function sortTable(n, tablename) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById(tablename);
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (Number(x.innerHTML) > Number(y.innerHTML)) {
                    // If so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                    }
                } else if (dir == "desc") {
                    if (Number(x.innerHTML) < Number(y.innerHTML)) {
                    // If so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                    }
                }
                }
                if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount ++;
                } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
                }
            }
            }
</script>

    <script>
        function novaGrupa(){
            document.getElementById('novagrupa').style.display = 'inline-block';
        }
    </script>
</head>
{{> header}}

<section id="control_panel" class="container-fluid"></section>
    <div class="container-fluid" style="background:#edf4fa;padding:5%; width:100%">
        <div class="container-fluid ekran" >
            {{#if session_isOwner}}
            <button class="tab active" onclick="openTab('ChangeExhibits',0)"  style="text-transform: uppercase;">Uredi izloške</button>
            <button class="tab" onclick="openTab('Statistics',1)" style="text-transform: uppercase;">Statistika</button>
            <button class="tab" onclick="openTab('ChangeAdministrators',2)" style="text-transform: uppercase;">Uredi administratore</button>
            {{else}}
            <button class="tab active" onclick="openTab('ChangeExhibits',0)"  style="text-transform: uppercase;">Uredi izloške</button>
            <button class="tab" onclick="openTab('Statistics',1)" style="text-transform: uppercase;">Statistika</button>
            <input class="tab" onclick="openTab('ChangeAdministrators',2)" type="hidden" style="text-transform: uppercase;"></input>
            
            {{/if}}
            <div id="ChangeExhibits" style="padding-bottom:5px">
             <label class="LabelIzlozak" for="DodajIzlozak">DODAJ IZLOŽAK</label>
             <form id="DodajIzlozak" name="exhibitForm" action="./control_panel/addExhibit" method="POST" enctype="multipart/form-data">
                <div class="row" >
                
                 <div class="col-xs col-md BlockContent" style="justify-content: center;margin-left:5px">

                    <img id="image1"  src="/images/upload.png" style="opacity:100%;display:block;margin:auto">
                    <button id="files" onclick="document.getElementById('file').click(); return false;" style="display: block;margin:auto">Odaberi sliku</button>
                    <input id="file" required onchange="readURL(this);" type="file" name="image" style="margin:auto;color:transparent;visibility:hidden;width:100px">

                    <audio id="audio1" src="#" controls style="margin:auto;margin-top: 5%;transform:scale(0.6,0.6);display:block;"></audio>
                    <button id="audioFile" style="margin:auto;display:block"  onclick="document.getElementById('audioFiles').click(); return false;">Odaberi audio zapis</button>
                    <input id="audioFiles" required onchange="readURLAudio(this);" type="file" name="audio" style="margin:auto;color:transparent;visibility:hidden;width:100px">

                 </div>

                 <div class="col-xs col-md BlockContent" >
                    <label style="display: block;font-weight:bold;" for="#lista_grupa">Odaberi ili napravi novu grupu:</label>
                    <input style="margin-top:0%; display:block" id="lista_grupa" list="browsers" name="browser" required>
                    <datalist id="browsers">
                       {{!-- <option value="Crni">
                        <option value="Plavi">  --}}
                            {{#each grupa}}
							<option>{{naziv_grupa}}</option>
							{{else}}<p>Ne postoje grupe</p>
							{{/each}}
                        
                    </datalist>
                    <textarea style="margin-top:4%;" name="OpisIzloska" id="opis" cols="30" rows="7" placeholder="Unesi opis izloška" required></textarea>
                    
                 </div>

                 <div class="col-xs col-md BlockContent" style="justify-content: center;align-items: center; margin-right:5px">
                    <label for="" style="display: block;font-weight:bold;" >Unesi podatke:</label>
                   
                    <div class="form-group" >
                        <label class="test1" for="">Proizvodač:</label>
                        <input type="text" name="proizvodac" class="opceInf" placeholder="ex: General Dynamics" required>
                    </div>
                    <div class="form-group">
                        <label for="">Naziv:</label>
                        <input type="text" name="naziv" class="opceInf" placeholder="ex: F16 Fighting Falcon" required>
                    </div>
                    <div class="form-group">
                        <label for="">Najveća brzina:</label>
                        <input type="text" name="najveca_brzina" class="opceInf" placeholder="ex: 2414 km/h" required>
                    </div>
                    <div class="form-group">
                        <label for="">Raspon krila:</label>
                        <input type="text" name="raspon_krila" class="opceInf" placeholder="ex: 8.2 m" required>
                    </div>
                    <div class="form-group">
                        <label for="">Godina proizvodnje:</label>
                        <input type="text" name="godina_proizvodnje" class="opceInf" placeholder="yyyy-mm-dd" required>
                    </div>
                    <div class="form-group">
                        <label for="">Broj izgrađenih:</label>
                        <input type="text" name="broj_izgradenih" class="opceInf" placeholder="ex: 400" required>
                    </div>
                    <div class="form-group" >
                        <label for="">Motor:</label>
                        <input type="text" name="motor" class="opceInf" placeholder="ex: turbomlazni motor" required>
                    </div>
                 </div>
                 
                 
                

                </div>
                <div style="display:flex; justify-content:center;align-items:center;">
                    <button style="width:120px" type="submit">Submit</button>
                </div>
             </form>
             <hr>
             <div class="row" >
                
                <div id="izbrisiGrupu" class="col-md" >
                <label for="" class="IzbrisiLabel" >IZBRIŠI GRUPU</label>
                <div style="border: solid black;padding:5px">
                {{#each grupa}}
                     <div class="col-xs col-md" style="margin:to">
                       <form action="./control_panel/deleteExhibitGroup" method="POST">
                        <label id="GrupaIIzlozak">{{naziv_grupa}}</label><input type="hidden" name="naziv_grupa" value={{naziv_grupa}} />
                        <button type="submit" style="float: right;">Ukloni grupu</button>
                       </form> 
                      </div> 
                {{/each}}
                </div>
                </div>
                <div class="col-md" style="">
                <label for="" class="IzbrisiLabel" >IZBRIŠI POJEDINI IZLOŽAK</label>
                <div  style="border:solid black; padding:5px">
                {{#each izlozak}}
                     <div class="col-xs col-md">
                       <form action="./control_panel/deleteIzlozak" method="POST">
                        <label id="GrupaIIzlozak" for="">{{naziv_avion}}</label><input type="hidden" name="sifra_izlozak" value={{sifra_izlozak}} />
                        <button type="submit" style="float: right;">Ukloni izložak</button>
                        </form> 
                    </div>
                {{/each}}
                </div>
                </div>

            
                
            </div>
            </div>

            
            <div id="Statistics" style="display: none;" >
                <div class="statistika">
                    
                    <h5>Broj aktivnih admina:</h5>
                    <p>{{broj_admina}}</p>

                    <h5>Aktivni administratori:</h5>
                    {{#each aktivni_admini}}
                        <p>{{ime}} {{prezime}}</p>
                    {{/each}}

                    <h5>Broj aktivnih korisnika: </h5>
                    <p>{{broj_korisnika}}</p> 


                    <h5>Posjećenost glavne stranice: </h5>
                    <p>{{posjecenost_glavne}}</p>
                <div class="row">
                <div class="col-md">
                    <h5>Posjećenost stranica izložaka:</h5>
                    <table id="posjecenosti">
                        <tr>
                                <th>Izložak:</th>
                                <th onclick="sortTable(1,'posjecenosti')" style="cursor: pointer;">Posjećenost:</th>
                        </tr>
                        {{#each izlozak}}
                            <tr>
                                <td>{{naziv_avion}}</td>
                                <td>{{'posjecenost.broj_posjeta'}}</td>
                            </tr>
                        {{/each}}
                    </table>
                </div>
                <div class="col-md">
                    <h5>Reprodukcija zvučnih zapisa izložaka:</h5>
                    <table id="reprodukcije">
                        <tr>
                                <th>Izložak:</th>
                                <th onclick="sortTable(1,'reprodukcije')" style="cursor: pointer;">Reprodukcija:</th>
                        </tr>
                        {{#each izlozak}}
                            <tr>
                                <td>{{naziv_avion}}</td>
                                <td>{{'reprodukcija.broj_reprodukcija'}}</td>
                            </tr>
                        {{/each}}
                    </table>
                </div>
                </div>
                </div>
            </div>
            <div id="ChangeAdministrators" style="display: none;">
                <label for="" style="display: block;margin-top:15px;font-size:large" >Dodaj administratora:</label>
                <form action="./control_panel/addAdmin" method="POST" class="dodajAdmin" name="adminForm">
                    
                    <div class="row">
                        <div class="col-xs col-md-4">
                            
                            <div class="form-group" >
                                <label for="">E-mail:</label>
                                <input type="text" name="email" class="opceInf" required placeholder="ivoivic@gmail.com">
                            </div>
                            <div class="form-group" >
                                <label for="">Korisničko ime:</label>
                                <input type="text" name="korisnicko_ime" class="opceInf" required  placeholder="IIvic">
                            </div>
                            <div class="form-group" >
                                <label for="">Lozinka:</label>
                                <input type="password" name="lozinka" class="opceInf" required >
                            </div>
                        </div>
                        <div class="col-xs col-md-12" >
                            <button type="submit" >DODAJ</button>
                        </div>


                    </div>
                </form>
                <hr>
                <label style="display: block;margin-top:15px;font-size:large" for="">Izbriši administratora</label>
                <div class="izbrisiAdmin" >
                    
                    <table>
                         {{#each admin}}
                         <form action="./control_panel/deleteAdmin" method="POST">
							<tr>
                                <th>{{korisnicko_ime}}</th><input type="hidden" name="korisnicko_ime" value={{korisnicko_ime}} />
                                <th><button>X</button></th>
                            </tr>
                        </form>
						{{else}}<p>Trenutno nema administratora.</p>
						{{/each}}
                        
                        
                    </table>
                </div>
                
            </div>
            

            
        </div>
    </div>
    
</section>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<script src="/javascripts/exhibit-validation.js"></script>
<script src="/javascripts/admin-validation.js"></script>
{{>footer}}