    <head>
         <link rel="stylesheet" href="/stylesheets/ExhibitsDesign.css">
     </head>

     {{> header}}

<div class="container-fluid exhibit" style="height: 100vh;">
    <div class ="row" style="justify-content: center;display:flex;align-items: center;flex-wrap: wrap;">
            <div class ="col-xs-12 col-md-5" style="margin-top: 3%; display:flex;flex-wrap: wrap;justify-content: center;">
                <div>
                    <h1 style="color: white">Izložak nedostupan!</h1>
                </div>
            </div>
    </div>
</div>