<head>
         <link rel="stylesheet" href="/stylesheets/ExhibitsDesign.css">
         <script>
            function whenPlayed(sifra){

                const sendHttpRequest = (method, url, data) => {
                    return fetch(url, {
                        method: method,
                        body: JSON.stringify(data),
                        headers: data ? { 'Content-Type': 'application/json' } : {}
                    }).then(response => {
                        if (response.status >= 400) {
                        // !response.ok
                        return response.json().then(errResData => {
                            const error = new Error('Something went wrong!');
                            error.data = errResData;
                            throw error;
                        });
                        }
                        return response.status;
                    });
                };

                const getData = () => {
                sendHttpRequest('GET', 'https://134.209.233.66/plays/increasePlays/' + sifra).then(responseData => {
                    console.log(responseData);
                });
                };

                getData();
            }
        </script>
</head>

{{> header}}

<section id="exhibits" class="container">

        <div>
            <div class="container-fluid exhibit" style="">
                <div class ="row" style="justify-content: center;display:flex;align-items: center;flex-wrap: wrap;">
                    <div class ="col-xs-12 col-md-5" style="margin-top: 3%; display:flex;flex-wrap: wrap;justify-content: center;">
                        <img class="image" src="{{exhibit.slika_pointer}}" alt="Avion" >
                        <div class="break"></div>
                        <figure style="margin-top: 5%;">
                                <audio
                                    controls
                                    src="{{exhibit.audio_pointer}}" id="player" onplay="whenPlayed({{exhibit.sifra_izlozak}})">
                                        
                                        <code>audio</code>
                                </audio>
                        </figure>
                    </div>
                    <div class ="col-xs-12 col-md-5" style="margin-top: 1%">
                            <p class="description">
                                {{exhibit.izlozak_opis}}
                            </p>
                    </div>
                </div>
            </div>
        </div>
 </section>

 {{>footer}}