
<head>
         <link rel="stylesheet" href="/stylesheets/ExhibitionsDesign.css">
     </head>
{{> header}}
<section id="grupa_izlozaka" class="container">


    
      {{#each grupaIzlozaka}}
      <div class="izlozak">
        <h3>{{naziv_avion}}</h3>
      <ul>
        <li><div class="img_con"><img class="im" src={{'izlozak_data.slika_pointer'}}></div></li>
        <li>
          <div> 
             <div class="inner">
                <ul >
                    <li>Proizvodac:{{'proizvodac.naziv_proizvodac'}}</li>
                    <li>Naziv:{{naziv_avion}}</li>
                    <li>Najveća brzina:{{najveca_brzina}} km/h</li>
                    <li>Raspon krila:{{raspon_krila}} m</li>
                    <li>Godina proizvodnje:{{godina_proizvodnje}}</li>
                    <li>Broj izgrađenih:{{broj_izgradenih}}</li>
                    <li>Motor:{{'motor.naziv_motor'}}</li>
                </ul>
               </div>
               
                 <a href="/exhibit/id/{{sifra_izlozak}}" name="{{sifra_izlozak}}" class="btn btn-reverse">Pročitaj više</a>
          </div>
       </li>
      </ul>
     
    </div>
    {{else}} <p>Grupa prazna</p>
    {{/each}}
</section>

{{>footer}}