    
    {{> header}}
    <div class="container-fluid p-0">
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
            <h1 class="intro">
                Dobrodošli na stranicu AvioMuzeja!
            </h1>
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="3000">
                    <img src="images/avion1.jpg" class="d-block w-100">
                </div>
                <div class="carousel-item" data-interval="3000">
                    <img src="images/avion2.jpg" class="d-block w-100">

                </div>
                <div class="carousel-item" data-interval="3000">
                    <img src="images/avion3.jpg" class="d-block w-100">
                </div>
            </div>
        </div>


        <div class="grad">
            <div class="row justify-content-center col-sm-12" id="text">
                <h3 class="info">
                    AvioMuzej je aeronautički muzej s jednom od najvećih kolekcija aviona u Europi.
                    Saznajte sve što vas zanima o avionima uz naše brojne izloške!
                </h3>

                <h4 class="promo">
                   Od zore čovječanstva ljudi su gledali u nebo, često tražeći u njemu smisao svakodnevnog života. Stvorili smo priče o bogovima, anđelima i mitskim bićima koja imaju sposobnost leta. 
                   Te priče su postale temelj brojnih religija. Stoga, čovjek već nekoliko tisuća godina pokušava dobiti sposobnost leta. Izumom zrakoplova, sposobnost koja je prije pripadala bogovima i anđelima, 
                   sada je dostupna i običnim ljudima. Zrakoplovstvo se ubrzano razvija i danas je postalo sastavni dio našeg života. Nastavljamo pomicati granice sve više i više u svemirskom dobu, putovanjima na Mjesec i uskoro na Mars. 
                   Budite dio tog povijesnog putovanja uz nas! 
                </h4>
            </div>
        </div>
    </div>
    {{> footer}}