<head>
    <link rel="stylesheet" href="/stylesheets/MessageDesign.css">
</head>

{{>header2}}
<div class="container">
    <div class=" text-center message">
        <h1 class="big">{{big_message}}</h1>
        <h2 class="small">{{small_message}}</h2>

        {{#if register_failed}}
            <div class="row text-center button">
                <a role="button" class="btn btn-dark" href="/register"><i class="fa fa-rotate-left"></i> Pokušajte ponovno</a>
            </div>
        {{/if}}

        {{#if register_sucess}}
            <div class="row text-center button">
                <a role="button" class="btn btn-dark" href="/login"><i class="fa fa-sign-in"></i> Prijava</a>
            </div>
        {{/if}}

        {{#if login_failed}}
            <div class="row text-center button">
                <a role="button" class="btn btn-dark" href="/login"><i class="fa fa-sign-in"></i> Pokušajte ponovno</a>
            </div>
        {{/if}} 
        {{#if addAdmin_failed}}
            <div class="row text-center button">
                <a role="button" class="btn btn-dark" href="/control_panel"><i class="fa fa-sign-in"></i> Pokušajte ponovno</a>
            </div>
        {{/if}}
        {{#if admin_register_sucess}}
            <div class="row text-center button">
                <a role="button" class="btn btn-dark" href="/profile"><i class="fa fa-address-card"></i>Profil</a>
            </div>
        {{/if}}
    </div>
</div>
<div class="container">
    <div class="row text-center button">
        <a role="button" class="btn btn-dark" href="/"><i class="fa fa-arrow-circle-left"></i> Povratak na početnu
            stranicu</a>
    </div>
</div>