<head>
    <link rel="stylesheet" href="./stylesheets/ProfileDesign.css">
</head>

{{> header}}

<body>

    <div class="box">
            <form method="post" name="profileForm" action="/profile/changedInfo" novalidate>
                <div class="form-row">
                    <div>
                        
                         <div class="form-group">
                            <label for="ime">Ime</label>
                            <input type="text" class="form-control" name="ime" id="ime"
                                    placeholder={{kor1.ime}} required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="prezime">Prezime</label>
                            <input type="text" class="form-control" name="prezime" id="prezime"
                                     placeholder={{kor1.prezime}} required>
                        </div>
                        <br>
                        
                        
                        <div class="form-group">
                            <label for="korisnicko_ime">Korisničko ime</label>
                            <input type="text" class="form-control" name="korisnicko_ime" id="korisnicko_ime"
                                   value={{kor1.korisnicko_ime}} placeholder={{kor1.korisnicko_ime}} required disabled>
                            <!-- TODO srediti u backendu da se zapravo ovi podatci uvaže a ne da se potiho jednostavno ne ažurira username -->
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="dob">Dob</label>
                            <input type="text" class="form-control" name="dob" id="dob"
                                 
                                   placeholder={{kor1.dob}} required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="drzava">Država</label>
                            <input type="text" class="form-control" name="drzava" id="drzava"
                                   placeholder={{kor1.drzava}} required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="email">Email adresa</label>
                            <input type="text" class="form-control" name="email" id="email"
                                   placeholder={{kor1.e_mail}} required>
                        </div>
                        <br/>
                        <a class="btn btn-danger" href="/users/delete" role="button">Izbriši korisnika</a>
                        <button class="btn btn-primary" type="submit" name="button">Spremi</button>
                    </div>

                </div>
            </form>
    </div>

<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<script src="/javascripts/profile-validation.js"></script>
</body>

{{>footer}}