<head>
    <link rel="stylesheet" href="/stylesheets/PromoDesign.css">
</head>


{{#if session_active}}
{{> header}}

<div class="container tablica">
    <div class="row">
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Naziv</th>
                    <th scope="col">Preuzmi</th>
                </tr>
            </thead>
            <tbody>
                {{#each promo}}
                <tr>
                    <td>{{naziv_promo}}</td>
                    <td><a class="dwnld-link" href="{{materijal_pointer}}"><i class="fa fa-download"></i></a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{>footer}}

{{else}}
{{> header2}}
<div class="container">
    <div class="row text-center message">
        <h1>Promo materijali nisu dostupni!</h1>
        <h2>Prijavite se kako bi dobili pristup promo materijalima.</h2>

        <div class="text-center button col-md-6">
            <a role="button" class="btn btn-dark" href="/login"><i class="fa fa-sign-in"></i> Prijava</a>
        </div>
    </div>
    <div class="container back">
        <div class="row justify-content-center">
            <div class="text-center button col-md-6 ">
                <a role="button" class="btn btn-dark" href="/"><i class="fa fa-arrow-circle-left"></i>
                    Povratak na početnu stranicu</a>
            </div>

        </div>
    </div>

</div>

 {{/if}}