
    {{!-- <div clas="container-fluid" id="f">   --}}
    <div class="f">
    	<div class="row text-center col-12 m-0" id="footer">
    		<div class="col-md-4">
    			<h5 class="text-uppercase">Naši kontakti</h5>
    			<hr>
    			<p>01/420 1190</p>
    			<p><a class="gmail" href="mailto:aviomuzej@gmail.com">aviomuzej@gmail.com</a></p>
    		</div>
    		<div class="col-md-4">
    			<h5 class="text-uppercase">Adresa muzeja</h5>
    			<hr>
    			<p> Ul. Velimira Škorpika 36, 10090, Zagreb</p>
    		</div>
    		<div class="col-md-4">
    			<h5 class="text-uppercase">Pronađite nas na društvenim mrežama</h5>
    			<hr>
    			<a class="fb-ic" href="https://www.facebook.com/" target="_blank">
            		<i class="fa fa-facebook fa-lg white-text mr-4"></i>
                </a>
	          	<a class="tw-ic" href="https://twitter.com/" target="_blank">
	            	<i class="fa fa-twitter fa-lg white-text mr-4"> </i>
	          	</a>
	          	<a class="ins-ic" href="https://www.instagram.com/" target="_blank">
          	  		<i class="fa fa-instagram fa-lg white-text mr-4"> </i>
          		</a>
                <a class="pin-ic" href="http://www.pinterest.com/" target="_blank">
          		  	<i class="fa fa-pinterest fa-lg white-text"> </i>
          		</a>
    		</div>
    	</div>

    	<div class="copyright text-center">
    		<h6 class="m-0">&copy JavaCrew 2019</h6>
    	</div>
    </div>
