<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand text-uppercase" href="/">
			<h1 class="title m-0">AvioMuzej</h1>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto text-uppercase">
				<li class="nav-item">
					<div class="dropdown" style="width:100%">

						<a class="nav-link">Pogledaj izloške</a>

						<div class="dropdown-menu dropdown-content" id="grupa_dropdown">
							{{#each grupa}}
							<a href="/exhibitions/id/{{sifra_grupa}}" class="text-center">{{naziv_grupa}}</a>
							{{else}}<p>Ne postoje grupe</p>
							{{/each}}
						</div>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about_us">O nama</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/promo">Promo</a>
				</li>
				{{#if session_isAdmin}}
				<li class="nav-item">
					<a class="nav-link" href="/control_panel">Upravljačka ploča</a>
				</li>
				{{/if}}
				<li class="nav-item login" >
					<div name="dropdown" class="dropdown" style="width:100%">
						<a class="nav-link">
							<i class="fa fa-user icon" data-toggle="tooltip" data-placement="bottom"
								title="Prijava" 				
								{{#if session_isOwner}} style="color:gold" 
								{{else}}
									{{#if session_isAdmin}} style="color:springgreen" 
										{{else}}
											{{#if session_active}} style="color:royalblue" {{/if}} 
									{{/if}}
								{{/if}}></i>
								
						</a>
						<div class="dropdown-menu dropdown-menu-lg-right dropdown-content">
							{{#if session_active}}
							<a class="dropdown-item text-center" name="profil" href="/profile">Profil</a>
							<a class="dropdown-item text-center" href="/users/logout">Odjava</a>
							{{else}}
							<a class="dropdown-item text-center" href="/login" >Prijava</a>
							{{/if}}
						</div>
					</div>
				</li>
			</ul>
		</div>

	</div>
</nav>