html{
    margin: 0;
    padding: 0;
    height: 100vh;
}

body{
    font-family: arial;
    margin: 0;
    height:100vh;   

}

/*navbar*/
.navbar{
    background-color: #303033;
}

.navbar-nav li{
    padding-left: 10px;
}

.navbar-dark .navbar-nav .nav-item .nav-link{
    font-size: 20px;
    color: white;
    text-align: center;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover {
  color: #1277ba;
}
/*navbar end*/

img{
    opacity: 100;
}

.bck_clr{
    margin-top: 50px;
    margin-bottom: 30px;
    background: #acd0e3;
}

#photo{
    background: url(../images/avioni.jpeg) no-repeat center center fixed;
    display: table;
    height: 50%;
    width: 100%;
    position: relative;
    background-size: cover;
}

.title{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.title h1, .title h2{
    color: #222222;
    font-size: 100px;
    /*text-shadow: 5px 5px white;*/
}

.title h2{
    font-size: 50px;
}

h3{
    font-weight: bold;
}

.text{
    padding: 50px 30px 0 30px;
    color: #333333;
}

.lead{
    border: 2px solid white;
    padding: 10px;
}

img {
    width:100%; 
    height:auto;
}

.drugi{
    padding-bottom: 50px;
}

.button{
    justify-content: center;
    margin-bottom: 30px;
}


/*footer*/
#footer{
    background-color: #303033;
    color: white;
    padding: 20px;
}

a{
    text-decoration: none !important;
    color: white;
}

hr{
    border: 1px solid white;
    width: 50%;
}
.copyright{
  background-color: #222222;
  color: white;
  padding: 10px;
}
/*footer end*/

@media screen and (max-width: 1350px) and (max-height:780px){

    .nav-link{
        font-size: 15px;
    }

    .title h1{
        font-size: 50px;
    }
    .title h2{
        font-size: 25px;
    }
    #photo{
        height: 45%;
    }

    h3{
        font-size: 20px;
    }

    .text{
        padding: 0;
    }

    .lead{
        font-size: 18px;
    }

    .bck_clr{
        margin: 0;
        padding: 0;
    }

    .button{
        background: #acd0e3;
        margin-bottom: 0;
        padding-bottom: 15px;
    }
}