
.container{
    vertical-align: middle;
}

#ChangeAdministrators{
    padding-bottom:10px;
}

#image1{
    max-width: 130px;
    max-height:100px;
    min-width: 130px;
    min-height: 100px;
}
#dropmenu{
    width:80px;
}
#opis{
    overflow: auto;
}
.BlockContent{
    margin-top: 1%;
}
.opceInf{
    float: right;
    position: relative;
    
}
::-webkit-input-placeholder {
    font-style: italic;
 }


.tab{
    margin-top: 1px;
    border-radius: 10px;
    padding:5px;
    box-shadow: 1px 1px;
    background-color: #dce3f7;
    border: black;
    
}
.tab:hover{
    background-color: #e6ebf7;
}
.active{
    background-color: #d2d6d0;
    outline: none;
}
button:focus{
    outline:0;
}
#DodajIzlozak{
    border: solid;
    width:100%;
    padding:5px;
    
}
.LabelIzlozak{
    font-size: large;
    margin-top:15px;
    margin-bottom:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.IzbrisiLabel{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    
    .form-group{
       display: flex;
       flex-wrap: wrap;
       
    }
    .form-group>label{
        flex:0 50%;
    }
    label{
        width: 50%;
    }

}



.dodajAdmin{
    border: solid black;
    padding:5px;
}

.izbrisiAdmin{
    border: solid black;
    padding:5px;
}

.statistika{
    
    padding: 5px;
}

.ekran{
    background : linear-gradient(#f0fafc,#bfe0ff);
    box-shadow: 1px 1px 4px 4px;
}
#GrupaIIzlozak{
    
}