.image{
    max-height: 300px;
    max-width: 100%;
    min-height: 100px;
    min-width: 100%;
    opacity: 100;
    flex-grow: 1;
  }
  .break {
    flex-basis: 100%;
    height: 0;
  }
  .audioplayer{
    margin-top: 1%;
    flex-grow: 1;
  }
  
  .exhibit{
    background-color: #3E3E42;
    
    
  }
  .description{
    color: white;
    border: solid;
    border-radius: 15px 50px 30px;
    padding:5%;
    margin: 20px;
  }