* {
    box-sizing: border-box;
  }
  
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #303033;
    background: #f4f4f4;
  }
  
ul {
    list-style: none;
    padding: 0;
  }
  
a {
    color: #fff;
    text-decoration: none;
  }
  
a:hover {
    color:#568c9b;
  }
  
.container {
    max-width: 960px;
    padding: 1rem 4rem;
    margin: auto;
    overflow: hidden;
  }
  
.error {
    padding: 5px;
    border: #777 dotted 1px;
    margin-bottom: 15px;
  }
.btn-reverse {
    background: #155777;
    border: 1px solid #155777;
    color: #fff;
  }
  
.btn-reverse:hover {
    background: #155777;
    border: 1px solid #155777;
  }
.izlozak {
    background: #303033;
    border-bottom: 4px solid  #568c9b;
    color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow : 3px 4px 12px #303033(0, 0, 0, 0.7);;
  }
  
.izlozak ul {
    list-style: none;
    display: flex;
  }
  
.izlozak li {
    margin-right: 0.5rem;
    padding: 0.6rem;
  }
  
.img_con{
    width: 200px;
    height: 200px;
  }
.im{
  width: 200px;
  height: 200px;
  object-fit: cover;
  opacity: 1;
}
.inner ul{
  display: inline-block;
}
#footer{
    background-color: #303033;
    color: white;
    padding: 20px;
    
    
}
.copyright{
    background-color: #222222;
    color: white;
    padding: 10px;
  }