html{
    margin: 0;
    padding: 0;
    height: 100vh;
}

body{
    font-family: arial;
    margin: 0;
    height:100vh;
}

.navbar{
    background-color: #303033;
}

.navbar-nav li{
    padding-left: 10px;
}

.navbar-dark .navbar-nav .nav-item .nav-link{
    font-size: 20px;
    color: white;
    text-align: center;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover {
  color: #1277ba;
}


.intro{
    position: absolute;
    font-size: 75px;
    top: 45%;
    width:100%;
    text-align: center;
    
}

img{
    opacity: 0.5;
}


.grad{
    background: linear-gradient(to top, white 0%, #b7b7b9 100%);
    
}

.info, .promo{
    padding: 5% 10% 0 10%;
    text-align: center;
    margin: 0;    
}

.promo{
    padding-bottom: 5%;
}

#footer{
    background-color: #303033;
    color: white;
    padding: 20px;
}

a{
    text-decoration: none !important;
    color: white;
}

hr{
    border: 1px solid white;
    width: 50%;
}
.copyright{
  background-color: #222222;
  color: white;
  padding: 10px;
}
#cont{
  height: 100%;	
 }

/*stranica s pojedinim izloškom*/
/* .image{
  max-height: 300px;
  max-width: 100%;
  min-height: 100px;
  min-width: 100%;
  opacity: 100;
  flex-grow: 1;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.audioplayer{
  margin-top: 1%;
  flex-grow: 1;
}

.exhibit{
  background-color: #3E3E42;
  
  
}
.description{
  color: white;
  border: solid;
  border-radius: 15px 50px 30px;
  padding:5%;
} */




@media screen and (max-width: 1350px) and (max-height:780px){

    .title{
        font-size: 30px;
    }

    .nav-link{
        font-size: 15px;
    }

    .intro{
        font-size: 25px;
        top: 40%;
    }
    .info{
        font-size: 20px;
    }
    .info, .promo{        
        padding: 5% 10% 0 10%;
        text-align: center;
    }
    
    .promo{
        font-size: 17px;
        padding-bottom: 10%;
    }

    #text{
        border: 0;
        padding: 0;
        margin: 0;
    }

    h6{
        font-size: 12px;
    }
    h5{
        font-size: 15px;
    }
    p{
        font-size: 12px;
    }
}
/*liste izložaka iz pojedine grupe*/
* {
    box-sizing: border-box;
  }
  
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #303033;
    background: #f4f4f4;
  }
  
ul {
    list-style: none;
    padding: 0;
  }
  
a {
    color: #fff;
    text-decoration: none;
  }
  
a:hover {
    color:#568c9b;
  }
  
.container {
    max-width: 960px;
    padding: 1rem 4rem;
    margin: auto;
    overflow: hidden;
  }
  
.error {
    padding: 5px;
    border: #777 dotted 1px;
    margin-bottom: 15px;
  }
.btn-reverse {
    background: #155777;
    border: 1px solid #155777;
    color: #fff;
  }
  
.btn-reverse:hover {
    background: #155777;
    border: 1px solid #155777;
  }
.izlozak {
    background: #303033;
    border-bottom: 4px solid  #568c9b;
    color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow : 3px 4px 12px #303033(0, 0, 0, 0.7);;
  }
  
.izlozak ul {
    list-style: none;
    display: flex;
  }
  
.izlozak li {
    margin-right: 0.5rem;
    padding: 0.6rem;
  }
  
.img_con{
    width: 200px;
    height: 200px;
  }
.im{
  width: 200px;
  height: 200px;
  object-fit: cover;
  opacity: 1;
}
.inner ul{
  display: inline-block;
}


/* položaj sadržaja dropdown liste */
.dropdown {
  position: relative;
  display: inline-block;
}

/* sadršaj dropdown liste */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #303033;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #303033(0,0,0,0.2);
  z-index: 1;
}

/* linkovi u dropdown */
.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* dropdown list links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* prikaži dropdown */
.dropdown:hover .dropdown-content {display: block;}

.dropdown-menu{
  padding: 0;
  margin: 0;
}

@media (max-width: 500px) {
  .izlozak ul {
    flex-direction: column;
  }

  .izlozak .btn {
    display: block;
    margin-top: 1rem;
    text-align: center;
  }
  .title{
    font-size: 30px;
}

.nav-link{
    font-size: 15px;
}
#text{
  border: 0;
  padding: 0;
  margin: 0;
}
}
