*{
  box-sizing: border-box;
}

body{
  font-family: arial;
}



.form-control{
  text-align: left;
  color: #88A2AA;
  font-family: arial;
  width: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.prijavaNaslov{
  font-family: arial;
  font-style: italic;
  font-size: 120%;
  margin-top: 0%;
  text-align: center;
}


.text-uppercase a:visited, .text-uppercase a:link {
  color: white;
}
a:hover{
  text-decoration-line: none;
}

.linkovi {
    color: steelblue;
    font-family: Arial;

}

a:visited {
  color: dimgray;
}

.textForms{
  text-align: center;
}
.row{
  margin:0;
}

.loginBox{
  background:linear-gradient(90deg #E6E5E8,#DEE7E7 );
  width: 100%;
  margin:0;
  justify-content: center;


}
.row{
  width:100%;
  margin:0;
  justify-content:center;
}


.btn-primary{
  background-color: #155777;
  border-color: #658B9E;
  font-family: arial;
  font-size:80%;
  width: 100%;

}
.container-fluid {
  background: linear-gradient(#DEE7E7 60%,#658B9E);
  margin:0;
  justify-content: center;
  

}

.navbar{
  background-color: #303033;
}

.navbar .container-fluid{
  background: none;
}

.naslovReg{
  text-align: center;
}
.FormInput{
  justify-content: center;
}
html{
  height:100vh;
  justify-content: center;
}
body{
  height:100vh;
  margin:0;
}
.skupa{
  display: flex;

}

.zaboravljenaLozinka {
    text-align: center;
}

.preusmjeriNaReg {
    text-align: center;
    font-family: Arial;
}


.ikone{

  padding:10px;
  background: #878685;
  color: white;
  min-width: 50px;
  text-align: center;
  border-top-left-radius: 10%;
}
.registriraj{
  justify-content: center;
}

.btn:visited{
  color: white;
}


@media screen and (max-width: 1350px) and (max-height:780px){

  .title{
      font-size: 30px;
  }
  .btn-dark{
    margin-bottom: 20px;
  }

}

@media screen and (orientation: portrait){
  .container-fluid{
    height:100%;
  }
}
@media screen and (orientation: landscape){
  .container-fluid{
    min-height: 100%;
  }
  
}
