body{
    background: linear-gradient(#DEE7E7 60%,#658B9E);
}

.container{
    margin-top: 5%;
    justify-content: center;
}

.message{    
    background-color: steelblue; 
    color: white;
    justify-content: center;
    padding: 30px;
    box-shadow: 5px 5px 3px 3px #999999;
}

.big{
    font-size: 50px;
}

.small{
    font-size: 40px;
}


.button{
    justify-content: center;
}

@media screen and (max-width: 1350px) and (max-height:780px){
    .big{
        font-size: 25px;
    }
    .small{
        font-size: 20px;
    }
    .message{
        padding: 20px;
    }

}