body{
   background: linear-gradient(#DEE7E7 60%,#658B9E) fixed;
 }
 
 .box {
   background: white;
   max-width: 535px;
   display: flex;
   flex-direction: column;
   padding: 50px;
   border: 5px solid #303033;
   margin-top: 20px;
   margin-bottom: 20px; 
   margin-left:auto;
   margin-right: auto;
   position: relative;
   opacity: 0.9;
 }
 .form-group{
     font-family: 'Lato', sans-serif;
     text-align: left;
     margin:auto;
    
 }
 .form-control{
   margin:auto;
 }
 .btn-primary{
     background:#155777;
     border: 1px solid #155777;
     color: #fff;
     text-align: center;
     margin: 0 auto;
 }
 .btn-danger{
    background:#155777;
     border: 1px solid #155777;
     color: #fff;
     text-align: center;
     margin: 0 auto;
 }
 .f{
    position:absolute;
    width: 100%;
 }
 @media screen and (max-width: 1350px) and (max-height:780px){
    .box{
       margin-left: 10px;
       margin-right: 10px;
    }
 }