body{
    background: linear-gradient(#DEE7E7 60%,#658B9E);
}
.container{    
    margin-top: 30px;
    margin-bottom: 30px;
}

.message{   
    background-color: steelblue; 
    color: white;
    justify-content: center;
    padding: 30px;
    box-shadow: 5px 5px 3px 3px #999999;
}

.button{
    margin-top: 10px;
}

table{
    background-color: white;
}

.dwnld-link{
    color: steelblue;
}

.f{
    position: absolute;
    bottom: 0;
    width: 100%;
}


@media screen and (max-width: 1350px) and (max-height:780px){
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 20px;
    }
    .message{
        padding: 20px;
    }
    .button{
        margin-bottom: 10px;
    }
    .back{
        padding: 10px 0;
    }

    .back .button{
        padding: 0;
    }
   
}

@media screen and (device-aspect-ratio: 40/71){
    .f{
        position: relative;
    }
}

@media screen and (device-aspect-ratio: 375/667){
    .f{
        position: relative;
    }
}


@media screen and (max-height: 1350px) and (max-width:780px)  and (orientation: landscape){
    .f{
        position: relative;
    }
}